.container{
    min-width: 960px;
    width: 1200px;
    margin: 0 auto;
}
/*顶部 */
.headerwrap{
    background:rgba(0,0,0,0.05);
    height: 48px;
    min-width: 1200px;
}
.header .logo{
    float: left;
}
.header img{
    height: 24px;
    width: 108px;
    margin-right: 10px;
    margin-top: 10px;
}
.header h2{
    float: left;
    height: 22px;
    font-size: 16px;
    margin-top:12px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}
/* 内容 */
.mianwrap{
    min-width: 1200px;
}
.mian .title1{
    text-align: center;
    padding: 80px 0 64px;
    font-size: 26px;
}
.login{
    width: 673px;
    margin:0 auto
}
.login_left{
    float: left;
    width: 288px;
}
.login_left .qrcode_box{
    width: 120px;
    height: 120px;
    padding: 20px;
    margin: 0 auto;
    background: #f7f7f7;
}
.login_left .qrcode_box img{
    width: 120px;
    height: 120px;
}
.login_left p{
    margin-top: 40px;
    font-size: 12px;
    color: #838383;
}.login_center{
    float: left;
    width: 1px;
    height: 240px;
    margin: 0 48px;
    background:rgba(0,0,0,0.1);
}
.login_right{
    float: right;
    position: relative;
}
.login_right .hint{
    position: absolute;
    top: -20px;
    display: none;
}
.login_right .hint,.login_right .hint i{
    color: #fa2a2d;
    font-size: 12px;
}
.un_box,.pw_box{
    width: 262px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.05);
    padding: 0 12px;
    border-radius: 6px;
}
.pw_box{
    margin-top: 20px;
}
.pw_box .xsmm{
    position: relative;
    top: -28px;
    left: 246px;
    color: #838383;
    cursor: pointer;
}
.username,.password{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    font-size: 12px;
}
.new_login a{
    display: block;
    line-height: 16px;
    margin-top: 12px;
    color:#007dff;
    font-size: 12px;
}
.sunmit_xx span{
    display: block;
    cursor: pointer;
    width: 288px;
    height: 36px;
    background:#CA141D;
    opacity: .38;
    border-radius: 6px;
    color:#fff;
    font-weight: bold;
    text-align:center;
    line-height: 36px;
    margin-top: 32px;
}
.sunmit_xx:hover span{
    opacity: 1;
}
.other_api{
    margin-top: 32px;
    text-align: center;
}
.other_api a{
    color:#007dff;
    font-size: 12px;
}
.other_api i{
    color:#ccc ;
}
.other_login{
    padding: 24px 0 32px;
    text-align: center;
}
.other_login a{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    line-height: 32px;
    margin: 0 20px;
}
/* 底部 */
.footerwrap{
    background: rgba(0,0,0,0.05);
    min-width: 1200px;
}
.footer{
    margin-top: 46px;
    padding: 33px 0;
}
.footer .footer_01{
    margin: 0 auto;
    text-align: center;
}
.footer .footer_01 a{
    display: inline-block;
    height: 20px;
    border-right:1px solid #ccc ;
    padding:0 10px 0 14px;
}
.footer .footer_01 a.s4{
    border-width: 0;
}
.footer_02{
    text-align: center;
    margin-top: 12px;
    color: #000;
    opacity: 0.3;
    font-size: 12px;
}